<div class="jumbotron">
  <h1 class="display-4">Brad Pitt</h1>
  <p class="lead">Actor info:</p>
</div>

<div class="card-columns">
  <div class="card bg-success text-white">
    <div class="card-body">
      <p class="card-text">Age: 56</p>
      <p class="card-text">Gender: Male</p>
      <p class="card-text">Known For: Fight Club</p>
      <img src="https://s.yimg.com/ny/api/res/1.2/hXQX.DZBHDJQmCFQ.Lz4dw--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/https://media.zenfs.com/en-US/refinery29_finance_191/48a9f394344c08e10c8bf4eafaac62aa" class="card-img-top" alt="...">
    </div>
  </div>
</div>
<br>
<a href="/actors/<%= @actor.id %>/edit">Edit</a>
<a href="/actors/<%= @actor.id %>" data-method="delete">Delete</a>