<div class="jumbotron">
  <h1 class="display-4">Actors</h1>
  <p class="lead">Browse all actors here</p>
</div>

<div class="card-columns">
  <% @actors.each do |actor| %>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= actor.first_name %><%= actor.last_name %></h5>
        <p class="card-text">Gender: <%= actor.gender %></p>
        <p class="card-text">Age: <%= actor.age %></p>
        <p class="card-text">Known For: <%= actor.known_for %></p>
        <a href="/actors/<%= actor.id %>" type="button" class="btn btn-outline-success btn-sm">More Info</a>
      </div>
    </div>

  <% end %>
</div>