<h1>New Actor</h1>

<form action="/actors" method="post">
  <div>
    First Name: <input type="text" name="first_name">
  </div>
  <div>
    Last Name: <input type="text" name="last_name">
  </div>
  <div>
    Age: <input type="integer" name="age">
  </div>
  <div>
    Gender: <input type="text" name="gender">
  </div>
  <div>
    Known For: <input type="text" name="known_for">
  </div>
  <div>
    Choose a User:
    <select name="user_id" id="">
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Create Recipe">
</form>